langchain-openai
langchain-chroma
langchain-huggingface
packaging
opentelemetry-instrumentation-openai
prometheus-client
rouge-score
optuna
torch
sentence-transformers
mlflow-skinny
uvicorn
sqlalchemy
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain
pyyaml
pydantic-settings
pydantic
python-dotenv
fastapi
black
ruff
pytest